<app-navegacao></app-navegacao>
<div class="col-12">
        <div class="row d-flex flex-row justify-content-between align-items-end">
                <h3 class="mt-4">Visão Geral</h3>
                <div class="d-flex flex-row">
                    <div class="ano mr-2">
                        <select class="form-control" id="sel1">
                            <option>2019</option>
                            <option>2018</option>
                            <option>2017</option>
                        </select>
                    </div>
                    <div class="mes">
                        <select class="form-control" id="sel1">
                            <option>--</option>
                            <option>Janeiro</option>
                            <option>Fevereiro</option>
                            <option>Março</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <hr>

    <div class="row mt-3">
        <div class="col-sm-6 col-md-3 mb-2">
            <div class="card">
                <div class="card-body">
                    <div class="cardTitle"> Total de Vendas</div>
                    <div class="value-card d-flex flew-row align-items-center">
                        <div class="updown green"><i class="fas fa-arrow-up"></i></div>
                        <div class="value">63.254 €</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 mb-2">
            <div class="card">
                <div class="card-body">
                    <div class="cardTitle"> Total de Compras</div>
                    <div class="value-card d-flex flew-row align-items-center">
                        <div class="updown red"><i class="fas fa-arrow-up"></i></div>
                        <div class="value">1.200 €</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 mb-2">
            <div class="card">
                <div class="card-body">
                    <div class="cardTitle"> Total Rendimento</div>
                    <div class="value-card d-flex flew-row align-items-center">
                        <div class="updown red"><i class="fas fa-arrow-down"></i></div>
                        <div class="value">156 €</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 mb-2">
            <div class="card">
                <div class="card-body">
                    <div class="cardTitle"> Total em Inventário</div>
                    <div class="value-card d-flex flew-row align-items-center">
                        <div class="updown green"><i class="fas fa-arrow-up"></i></div>
                        <div class="value">224.557 €</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-sm-12 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="cardTitle"> Tendência de Vendas</div>
                    <app-grafico-linear [dataSets]="lineChartData" [labels]="lineChartLabels"  [legend]="legendLine"></app-grafico-linear>
                </div>
            </div>

        </div>
        <div class="col-sm-12 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="cardTitle"> Distribuição de Vendas de Produtos</div>
                    <app-grafico-bolo></app-grafico-bolo>
                </div>
            </div>
        </div>
    </div>


    <!--end of visao geral-->