<div class="d-flex justify-content-center mt-4">
    <div class="btn-group flex-wrap main-categ" role="group" aria-label="Basic example">
        <button routerLink="/visaogeral" type="button" class="btn btn-secondary">Visão Geral</button>
        <button routerLink="/vendas" type="button" class="btn btn-secondary">Vendas</button>
        <button routerLink="/compras" type="button" class="btn btn-secondary">Compras</button>
        <button routerLink="/inventario" type="button" class="btn btn-secondary">Inventário</button>
        <button routerLink="/financeiro" type="button" class="btn btn-secondary">Financeiro</button>
    </div>
</div>