@import '~bootstrap/dist/css/bootstrap.min.css';

/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */
h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
  }
  h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
  body{
    font-family: 'Raleway', sans-serif;
  }
  body, input[type="text"], button {
    color: #333;
  }
  /* everywhere else */
  * {
    font-family: 'Montserrat Alternates', sans-serif;
  }

  .nav-style {
    background-color: rgb(106, 177, 73);
    font-weight: 700;
    color: #fff;
    height: 6em;
  }

  .navbar-brand {
    font-size: 1.4em;
  }

  .nav-btn {
    color: #fff;
    border: solid;
    border-color: #fff;
    border-width: 1px;
  }

  .main-categ > button{
    padding: 0.8em 2em 0.8em 2em;
    font-weight: 400;
  }