@import '~bootstrap/dist/css/bootstrap.min.css';

/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */
h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
  }
  h2, h3 {
    color: #444;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: lighter;
  }
  body{
    font-family: 'Raleway', sans-serif;
    background-color: #eeeeee;
  }
  body, input[type="text"], button {
    color: #333;
  }
  /* everywhere else */
  * {
    font-family: 'Montserrat Alternates', sans-serif;
  }

  .nav-style {
    background-color: rgb(106, 177, 73);
    font-weight: 700;
    color: #fff;
    height: 6em;
  }

  .navbar-brand {
    font-size: 1.4em;
  }

  .nav-btn {
    color: #fff;
    border: solid;
    border-color: #fff;
    border-width: 1px;
  }

  .main-categ > button{
    padding: 0.8em 2em 0.8em 2em;
    font-weight: 400;
  }

  .value-card {
    font-size: 1.5em;
    justify-content: space-between;
    font-weight: 700;
  }

  .updown {
    display: flex;
    padding: 5px 0 5px 0;
    justify-content: center;
    font-size:1em;
    background-color: #69bb55;
    color: white;
    width: 2em;
  }

  .green {
    background-color: #69bb55;
  }

  .red {
    background-color: #dd4444;
  }

  .cardTitle {
    margin: 0 0 0.5em 0;

  }

  .genTable {
    font-size: 0.8em;
  }

  .botaogen {
    width: 15em;
  }