<app-navegacao></app-navegacao>
<div class="col-12">
        <div class="row d-flex flex-row justify-content-between align-items-end">
                <h3 class="mt-4">Compras</h3>
                <div class="d-flex flex-row">
                        <div class="ano mr-2">
                                <select class="form-control" id="sel1" [(ngModel)]="selectedYear" (change)="onChange()">
                                    <option value="all">--</option>
                                    <option value="2019">2019</option>
                                    <option value="2018">2018</option>
                                    <option value="2017">2017</option>
                                  </select>
                            </div>
                            <div class="mes">
                                <select class="form-control" id="sel2" [(ngModel)]="selectedMonth" (change)="onChange()">
                                    <option value="all">--</option>
                                    <option value="01">Janeiro</option>
                                    <option value="02">Fevereiro</option>
                                    <option value="03">Março</option>
                                    <option value="04">Abril</option>
                                    <option value="05">Maio</option>
                                    <option value="06">Junho</option>
                                    <option value="07">Julho</option>
                                    <option value="08">Agosto</option>
                                    <option value="09">Setembro</option>
                                    <option value="10">Outubro</option>
                                    <option value="11">Novembro</option>
                                    <option value="12">Dezembro</option>
                                  </select>
                            </div>
                </div>
            </div>
        </div>
        <hr>
   
    <div class="row mt-3">
        <div class="col-sm-6 col-md-3 mb-2">
            <div class="card">
                <div class="card-body">
                    <div class="cardTitle"> Total de Capital Gasto</div>
                    <div class="value-card d-flex flew-row align-items-center">
                        <div class="updown red"><i class="fas fa-arrow-up"></i></div>
                        <div class="value">{{valorTotalCompras}} €</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-sm-12 col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="cardTitle"> Tendência de Compras Mensais</div>
                    <app-grafico-linear [dataSets]="lineChartData" [labels]="lineChartLabels"  [legend]="legendLine"></app-grafico-linear>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="cardTitle"> Comparação de Gastos (Período)</div>
                    <app-grafico-linear [dataSets]="lineChartData2" [labels]="lineChartLabels2"  [legend]="legendLine2"></app-grafico-linear>
                </div>
            </div>
        </div>
      <!--  <div class="col-sm-12 col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="cardTitle"> Tempo médio de Chegada</div>
                    <app-grafico-barras></app-grafico-barras>
                </div>
            </div>
        </div>-->
    </div>

    <div class="row mt-3">
        <div class="col-sm-12 col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="cardTitle"> Compras por Categoria</div>
                    <app-grafico-bolo [pieChartData]="pieChartData" [pieChartLabels]="pieChartLabels" [legend]="legendBar"></app-grafico-bolo>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="cardTitle"> Vendedores mais Comuns</div>
                    <table class="table table-bordered table-hover genTable">
                        <tr *ngIf="suppliers != null">
                            <th>Rank</th>
                            <th>Cliente</th>
                            <th>Quantia</th>
                        </tr>
                        <tr *ngIf="suppliers[0] != null">
                            <td>1</td>
                            <td>{{suppliers[0].name}}</td>
                            <td>{{suppliers[0].total_gain}}</td>
                        </tr>
                        <tr *ngIf="suppliers[1] != null">
                            <td>2</td>
                            <td>{{suppliers[1].name}}</td>
                            <td>{{suppliers[1].total_gain}}</td>
                        </tr>
                        <tr *ngIf="suppliers[2] != null">
                            <td>3</td>
                            <td>{{suppliers[2].name}}</td>
                            <td>{{suppliers[2].total_gain}}</td>
                        </tr>
                        <tr *ngIf="suppliers[3] != null">
                            <td>4</td>
                            <td>{{suppliers[3].name}}</td>
                            <td>{{suppliers[3].total_gain}}</td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
        <div class="col-sm-12 col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="cardTitle"> Produtos mais Comprados</div>
                    <table class="table table-bordered table-hover genTable">
                        <tr *ngIf="produtosComprados != null">
                            <th>Rank</th>
                            <th>Produto</th>
                            <th>Quantidade</th>
                        </tr>
                        <tr *ngIf="produtosComprados[0] != null">
                            <td>1</td>
                            <td>{{produtosComprados[0].product.name}}</td>
                            <td>{{produtosComprados[0].quantity}}</td>
                        </tr>
                        <tr *ngIf="produtosComprados[1] != null">
                            <td>2</td>
                            <td>{{produtosComprados[1].product.name}}</td>
                            <td>{{produtosComprados[1].quantity}}</td>
                        </tr>
                        <tr *ngIf="produtosComprados[2] != null">
                            <td>3</td>
                            <td>{{produtosComprados[2].product.name}}</td>
                            <td>{{produtosComprados[2].quantity}}</td>
                        </tr>
                        <tr *ngIf="produtosComprados[3] != null">
                            <td>4</td>
                            <td>{{produtosComprados[3].product.name}}</td>
                            <td>{{produtosComprados[3].quantity}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- end of compras -->