<nav class="navbar navbar-primary nav-style">
    <div class="container">
        <a class="navbar-brand">{{title}}</a>
        <button type="button" class="btn btn-outline-light"><i class="fas fa-sign-out-alt mr-1"></i> Log Out</button>
    </div>
</nav>



<div class="container">
    <div class="d-flex justify-content-center mt-4">
        <div class="btn-group flex-wrap main-categ" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary">Visão Geral</button>
            <button type="button" class="btn btn-secondary">Vendas</button>
            <button type="button" class="btn btn-secondary">Compras</button>
            <button type="button" class="btn btn-secondary">Inventário</button>
            <button type="button" class="btn btn-secondary">Financeiro</button>
        </div>
    </div>

    <h3 class="mt-4">Visão Geral</h3>
    <hr>

    <div class="row mt-3">
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <div class="cardTitle"> Total de Vendas</div>
                    <div class="value-card d-flex flew-row align-items-center">
                        <div class="updown green"><i class="fas fa-arrow-up"></i></div>
                        <div class="value">63.254 €</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <div class="cardTitle"> Total de Compras</div>
                    <div class="value-card d-flex flew-row align-items-center">
                        <div class="updown red"><i class="fas fa-arrow-up"></i></div>
                        <div class="value">1.200 €</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <div class="cardTitle"> Total Rendimento</div>
                    <div class="value-card d-flex flew-row align-items-center">
                        <div class="updown red"><i class="fas fa-arrow-down"></i></div>
                        <div class="value">156 €</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <div class="cardTitle"> Total em Inventário</div>
                    <div class="value-card d-flex flew-row align-items-center">
                        <div class="updown green"><i class="fas fa-arrow-up"></i></div>
                        <div class="value">224.557 €</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-sm-12 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="cardTitle"> Tendência de Vendas</div>
                    <app-grafico-linear></app-grafico-linear>
                </div>
            </div>

        </div>
        <div class="col-sm-12 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="cardTitle"> Distribuição de Vendas de Produtos</div>
                    <app-grafico-bolo></app-grafico-bolo>
                </div>
            </div>
        </div>
    </div>

<!--end of visao geral-->

    
    <div class="mt-5">
        <table class="table table-bordered table-hover">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>TaxRegistrationNumber</th>
                <th>TaxAccountingBasis</th>
            </tr>
            <tr *ngFor="let item of xmlItems">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.taxRegistrationNumber}}</td>
                <td>{{item.taxAccountingBasis}}</td>
            </tr>
        </table>
    </div>