<app-navbar></app-navbar>
<div class="container">
    <app-navegacao></app-navegacao>
    <div class="col-12">
        <div class="row d-flex flex-row justify-content-between align-items-end">
            <h3 class="mt-4">Financeiro</h3>

        </div>
    </div>
    <hr>


    <div class="row mt-3">
        <div class="col-sm-6 col-md-3 mb-2">
            <div class="card">
                <div class="card-body">
                    <div class="cardTitle"> Rendimentos Totais</div>
                    <div class="value-card d-flex flew-row align-items-center">
                        <div class="updown green"></div>
                        <div class="value">63.254 €</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 mb-2">
            <div class="card">
                <div class="card-body">
                    <div class="cardTitle"> Valor Gerado</div>
                    <div class="value-card d-flex flew-row align-items-center">
                        <div class="updown green"></div>
                        <div class="value">1.200 €</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 mb-2">
            <div class="card">
                <div class="card-body">
                    <div class="cardTitle"> Despesas Totais</div>
                    <div class="value-card d-flex flew-row align-items-center">
                        <div class="updown red"></div>
                        <div class="value">156 €</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 mb-2">
            <div class="card">
                <div class="card-body">
                    <div class="cardTitle"> Liquidez</div>
                    <div class="value-card d-flex flew-row align-items-center">
                        <div class="updown green"></div>
                        <div class="value">32 %</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3 mb-2">
            <div class="card">
                <div class="card-body">
                    <div class="cardTitle"> Ativo</div>
                    <div class="value-card d-flex flew-row align-items-center">
                        <div class="updown green"></div>
                        <div class="value">{{-demonstracao.ativo.toFixed(0)}} €</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 mb-2">
            <div class="card">
                <div class="card-body">
                    <div class="cardTitle"> Passivo</div>
                    <div class="value-card d-flex flew-row align-items-center">
                        <div class="updown red"></div>
                        <div class="value">{{demonstracao.passivo.toFixed(2)}} €</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 mb-2">
            <div class="card">
                <div class="card-body">
                    <div class="cardTitle"> Contas a Receber</div>
                    <div class="value-card d-flex flew-row align-items-center">
                        <div class="updown green"></div>
                        <div class="value">{{demonstracao.creditos_a_receber.toFixed(2)}} €</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 mb-2">
            <div class="card">
                <div class="card-body">
                    <div class="cardTitle"> Contas a Pagar</div>
                    <div class="value-card d-flex flew-row align-items-center">
                        <div class="updown red"></div>
                        <div class="value">{{demonstracao.outras_dividas_a_pagar_passivo_corrente.toFixed(2)}} €</div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="row mt-3">
        <div class="col-sm-12 col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="cardTitle"> Evolução do Valor Gerado</div>
                    <app-grafico-linear [dataSets]="lineChartData" [labels]="lineChartLabels" [legend]="legendLine">
                    </app-grafico-linear>
                </div>
            </div>

        </div>
        <div class="col-sm-12 col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="cardTitle"> Evolução dos Rendimentos</div>
                    <app-grafico-linear [dataSets]="lineChartData2" [labels]="lineChartLabels2" [legend]="legendLine2">
                    </app-grafico-linear>
                </div>
            </div>

        </div>
        <div class="col-sm-12 col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="cardTitle"> Evolução dos Custos</div>
                    <app-grafico-linear [dataSets]="lineChartData3" [labels]="lineChartLabels3" [legend]="legendLine3">
                    </app-grafico-linear>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- end of financeiro -->
